.sec1{
    margin: auto;
    margin-top: 150px;
    margin-bottom: 80px;
    position: relative;
    position: relative;

}
.linea{
    height: 600px;
    background-color: #262626;
}
.contenido{
    /* position: relative; */
    background: #F8F9FA;
    font-family: 'Montserrat', sans-serif;
}
.info{
    position: absolute;

    background:url(../Imagenes/Originales/expo/patextos/blur.png) #262626;
    background-position: center;
    background-size: cover;
    z-index: 10;
    top: 50%;
    right: -50px;
    transform: translate(0,-50%);
    box-shadow: 0px 2px 37px 0px rgba(0,0,0,0.75);
    height: 400px;
    width: 400px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
