.portada {
    height: calc(100vh - 75px);
    position: relative;
    min-height: 900px;

    overflow: hidden;
}


.resaltado{
    background: url(../Imagenes/Originales/expo/animales/pexels-pixabay-40803.jpg);
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.imagenPortada{
    position: absolute;
    width: 100vw;
    max-width: 850px;
    height: auto;
    top: 25%;
    left: 50%;
    transform: translate(-50%,0);
}

.titulo{
    /* text-transform: uppercase; */
    font-family: 'Roboto Serif', sans-serif;
    text-align: center;
    font-style: italic;
    position: absolute;
    top: -50%;
    filter: opacity(0%);

    font-size: 30px;

    left: 50%;
    transform: translate(-50%,0);
    animation: fadein 2s forwards;
    
}
@keyframes fadein {
    0%{
        top: -50%;
        filter: opacity(0%);
    }
    80%{
        filter: opacity(0%);
    }
    100%{
        top: 18%;
        filter: opacity(100%);
    }
    
}
@media only screen and (max-height: 600px) {
    .portada {
        min-height: 600px;
    }
    .imagenPortada{
        max-width: 400px;
    }
}
@media only screen and (max-width: 600px) {
    .portada {
        min-height: 600px;
    }
    .imagenPortada{
        top: 50%;
    }
    .imagenPortada{
        max-width: 400px;
    }
}